.noti {
  background-color: tomato;
  width: 5px;
  height: 5px;
  display: block;
  border-radius: 50%;
  position: absolute;
  right: -5px;
  top: -10px;
}

.noti-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  right: -12px;
  top: -15px;
}
